input[type=button] {
font-family: 'Orbitron', sans-serif;
background-color: rgb(254, 254, 255);
color: rgb(20, 52, 196);
border: solid rgb(255, 255, 255) 0.5px;
width: 100%;
border-radius: 25px;
height: 70%;
font-size: 15px;
padding:12px;
box-shadow: rgba(65, 64, 64, 0.678) 2px 1px 5px, rgba(158, 157, 157, 0.486) 2px 1px 5px;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 340px;
    width: 95%;
    margin: auto;
    background-color: #fffbfb;
    color:white;
    box-shadow: rgba(209, 206, 206, 0.678) 5px 0px 8px, rgba(158, 157, 157, 0.486) 0px 6px 6px;
    }

    .display {
        font-family: 'Orbitron', sans-serif;
        background-color: #fdfbfb;
        border: solid rgb(196, 187, 187) 5px;
        color: rgb(0, 0, 0);
        border-radius: 50px;
        width: 100%;
        height: 70%;
        padding:12px;
        }